:root{
	--primary: #ffffff;
	--accent: #01C38D;
	--secondary: #191E29;
	--heading: #132D46;
	--text: #696E79;
	--gray: #D2D2DE;
	--transition:  all 0.1s linear;
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	outline-color: transparent;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlght-color: rgba(0, 0, 0, 0);
	font-family: "Cabin", sans-serif;
}

*::selection{
	background-color: var(--accent);
}

body{
	width: 100%;
	min-height: 360px;
	height: 100vh;
	background-color: var(--secondary);
}

#container{
	width: 100%;
	height: 100%;
	position: relative;
	background:
			linear-gradient(40deg, transparent 45%, var(--accent) 65%, transparent 85% ) 0 0/ 100% 100% no-repeat,
			var(--secondary);
}

main{
	width: auto; 
	position: fixed;
	z-index: 1;
	top: 24px;
	right: 24px;
	bottom: 24px;
	left: 24px;
	border-radius: 7px;
	box-shadow: 0 0 10px rgba(44, 44, 44, 0.1);
	background-color: var(--primary);
}

header{
	width: 100%;
	height: 78px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	background: linear-gradient(var(--gray) 0 0) 20px calc(100% - 1px)/ calc(100% - 40px) 1px no-repeat;
}

main>header>p,
main>header>h1{
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--accent);
}

main>header>p{
	font-size: 1.2rem;
	cursor: pointer;
	text-decoration: underline;
	transition: var(--transition);
}

main>header>p:active{
	color: var(--secondary);
}

@media (hover:hover){
	main>header>p:hover{
		color: var(--secondary);
	}
}

main>.search_filters{
	width: 100%;
	height: 60px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	flex-flow: wrap;
	background: linear-gradient(var(--gray) 0 0) 20px calc(100% - 1px)/ calc(100% - 40px) 1px no-repeat;
}

main>.search_filters>form{
	width: auto ;
	display: flex;
	align-items: center;
	color: var(--text);
}

main>.search_filters input,
main>.search_filters select{
	height: 30px;
	padding: 0 5px;
	border-radius: 4px;
	border: 1px solid var(--gray);
	background-color: var(--primary);
	color: var(--heading);
	transition: var(--transition);
}

.search_filters input{
	margin: 0 5px;
}

.search_filters select:focus,
.search_filters select:focus-visible,
.search_filters input:focus,
.search_filters input:focus-visible{
	outline:0;
	border: 1px solid var(--accent);
}

.search_filters select{
	margin: 0 5px;
	cursor: pointer;
}

.search_filters select:first-of-type{
	margin-right: 30px;
}

.refresh,
#submit{
	width: 28px;
	height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--accent);
	color: var(--primary);
	margin-left: 27px;
	border:1px solid var(--accent);
	transition: var(--transition);
}

.refresh:active,
#submit:active{
	background-color: var(--primary);
	color: var(--accent);
}

@media (hover:hover){
	.refresh:hover
	#submit:hover{
		background-color: var(--primary);
		color: var(--accent);
	}
}

#submit>svg{
	height: 22px;
	margin-top: 1px;
	margin-left: 1px;
}

main>.data_list{
	width: 100%;
	height: auto;
	max-height: 460px;
	overflow: hidden;
}

main>.data_list>table{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

main>.data_list>table tr{
	height: 50px;
	border: 0;
	border-bottom: 1px solid var(--gray);
}

main>.data_list>table>thead>tr{
	height: 60px;
}

.data_list>table>thead>tr>th:first-child{
	text-align: center;
}

.data_list>table>thead th{
	color: var(--heading);
	text-align: left;
	font-size: 1rem;;
}

main>.data_list>table th,
main>.data_list>table td{
	height: 100%;
}

.data_list>table tr th:first-child{
	width: 50px;
}

.data_list>table tr td:first-child{
	display: flex;
	justify-content: center;
	align-items: center;
}

.data_list>table tr td.owner_name{
	cursor: pointer;
	font-weight: 600;
	color: var(--secondary);
}

.data_list>table tr td.owner_name:active{
	text-decoration: underline;
}

@media (hover:hover){
	.data_list>table tr td.owner_name:hover{
		text-decoration: underline;
	}
}

.data_list>table tr input{
	cursor: pointer;
}

.data_list>table tr td{
	font-size: 0.9rem;
	color: var(--text);
}

.data_list>table tr td[contenteditable="true"]{
	outline: none;
	border: none;
	color: var(--secondary);
	text-decoration: underline;
}

.data_list .item_icon{
	width: 40px;
	color: var(--accent);
	cursor: pointer;
	transition: var(--transition);
}

.data_list .item_icon:active{
	color: var(--secondary);
}

@media (hover:hover){
	.data_list .item_icon:hover{
		color: var(--secondary);
	}
}

.popup{
	width: 250px;
	height: 120px;
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -100px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 4px;
	background-color: var(--primary);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.popup>p{
	font-size: 0.9rem;
	color: var(--secondary);
	text-align: center;
}

.popup>div{
	display: flex;
	justify-content: space-around;
}

.popup>div>p{
    width: 60px;
    height: 25px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 4px;
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
	transition: var(--transition);
	cursor:pointer;
}

.popup>div>p:active{
	background-color: var(--primary);
	color: var(--accent);
}

@media (hover:hover){
	.popup>div>p:hover{
		background-color: var(--primary);
		color: var(--accent);
	}
}

.pages{
	width: 100%;
	height: 30px;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 15px;
}

.pages>ul{
	width: auto;
	display: flex;
}

.pages>ul>li{
	padding: 2px 5px;
	font-size: 0.9rem;
}

.pages>ul>li:first-child>svg,
.pages>ul>li:last-child>svg{
	transform: translateX(0);
	transition: var(--transition);
	cursor: pointer;
}

.pages>ul>li:first-child>svg:active{
	transform: translateX(-3px);
}
.pages>ul>li:last-child>svg:active{
	transform: translateX(3px);
}

@media (hover:hover){
	.pages>ul>li:first-child>svg:hover{
		transform: translateX(-3px);
	}
	.pages>ul>li:last-child>svg:hover{
		transform: translateX(3px);
	}
}

.container_login{
	display: flex;
	justify-content: center;
	align-items: center;
}

form.login{
	width: 360px;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	padding: 10px 15px;
	background-color: var(--primary);

}

form.login>h1{
	width: 100%;
	display: flex;
	align-items: center;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background: linear-gradient(var(--gray) 0 0) 0px calc(100% - 1px)/ 100% 1px no-repeat;
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--accent);
}

form.login>label{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--heading);
}

form.login input{
	height: 30px;
	padding: 0 5px;
	border-radius: 4px;
	border: 1px solid var(--gray);
	background-color: var(--primary);
	color: var(--heading);
	transition: var(--transition);
}

form.login>input{
	margin-top: 20px;
	cursor: pointer;
}

form.login>input:active{
	background-color: var(--heading);
	color: var(--primary);
}

@media (hover:hover){
	form.login>input:hover{
		background-color: var(--heading);
		color: var(--primary);
	}
}

.login input:focus,
.login input:focus-visible{
	outline:0;
	border: 1px solid var(--accent);
}

.error{
	display:none;
	font-size: 0.8rem;
	margin-top: 5px;
	color: var(--heading);
}

.search-error{
	height: 30px;
	line-height: 30px;
	margin-left: 30px;
	margin-top: 0px;
}

.refresh{
	cursor: pointer;
	margin-left: 10px;
}
